@inherits LayoutComponentBase

<div class="sidebar" style="background-color: #d57149">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row" style="background-color: #e89f71">
        
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
